<!DOCTYPE html>
<html lang="pt-br" xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- menu de estilização -->
     <div th:insert="~{fragmentos/style}"></div>
</head>
<body>
    <div th:insert="^{fragmentos/header :: header}"></div>
    <div class="container">
        <!-- inserir um carrossel -->

    </div>
        <footer>

        </footer>
</body>
<script th:src="@{js/script}"></script>
</html>